.player {
    position: relative;
}

.disable-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    background-color: rgba(100,100,100,0.5);
    cursor: pointer;
}